@import url("https://fonts.googleapis.com/css?family=ABeeZee");

:root{
    --main-bg-color: #9adfe5;
    --secondary-bg-color: #d6f2f5;
    --main-text-color: DimGray;
    --accent-bg-color: #FE5F55;
    --accent-text-color: white;
}

body{
    background-color: #FFFFFF;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#header{
    background-color: var(--main-bg-color);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

nav li {
    float: left;
    position: absolute;
    left: -3%;
    vertical-align: top;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
}

nav #right {
    float: right !important;
    position: relative;
    margin-top: 34px; 
    margin-bottom: 34px; 
}
nav #center {
    float: left;
    position: relative;
    left: 40%;
}
nav li #dailytip{
    font-size: 120%;
    border: 1px;
    border-radius: 10px;
    border-color: var(--main-text-color);
    border-style: solid;
    padding: 0.3%;
    margin: 0.6% 3%;
    width: 60%;
    text-align: center;
    color: var(--main-text-color);
    display: inline-block;
}
#reveal {
    display: none;
}
.form-signin {
  max-width: 30%;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-welcome,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin h2{
    text-align: center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

h5 { 
    width:100%; 
    text-align:center; 
    border-bottom: 1px solid DimGray; 
    line-height:0.1em; 
    margin:30px 0 20px; 
} 
h5 span { 
    background: white; 
    padding:0 10px; 
}

#logo{
    margin: 10px 0 0 0;
    padding: 0; 
}
#logo img{
    width: 22%;
}
img {
    vertical-align: top;
    margin-top: -10px;
}
#logo:after{
    display: inline-block;
    overflow: hidden;
    content: "NutriFam";
    font-size: 520%;
    color: var(--main-text-color);
    font-family: 'ABeeZee', sans-serif;
}
#logo:hover{
    text-decoration: none;
    overflow: hidden;
}

#user-top {
    display: inline;
}
#user-bottom {
    display: inline;
    padding-left: 7px;
}

#usersite{
    color: var(--main-text-color);
    font-size: 130%;
}
#usersite:hover{
    text-decoration: none;
}

@media all and (max-width: 1100px)  {
  #center {
    display: none !important;
  }
}

.container { 
  overflow: hidden; 
} 
#sidebar{
    margin-bottom: -1000px;
    padding-bottom: 1000px; 
    width:20.15%;
    position:absolute;
    top: 120.5px; 
    bottom:0; 
    left:0;
    background-color: var(--secondary-bg-color);
    font-size: 2.0vw;
    color: var(--main-text-color);
    height: 100%;
}

#sidebar a, #sidebar #reports{
    color: var(--main-text-color);
}

#sidebar li:hover{
    background-color: var(--main-bg-color);
    text-decoration: none; 
    color: var(--main-text-color);
}

#sidebar a:hover{
    background-color: var(--main-bg-color);
    text-decoration: none; 
    color: var(--main-text-color);
}

#sidebar-selected {
    background-color: var(--accent-bg-color);
}

#sidebar-selected a{
    color: var(--accent-text-color);
}

.dropdown-menu{
    display: block;
}

#nutri-rep{
    padding: 10px 1vw;
    background-color: var(--secondary-bg-color);
}

#main{
    position:absolute;
    top: 126px; 
    left: 21%;
    width:79%;
    padding: 3%;
    color: var(--main-text-color);
}

@media all and (max-width: 1422px){
    #mealEntryWords {
        float: left !important;
    }
}

#famprof ul{
    font-size: 1.9vw;
    background-color: transparent;
    box-shadow: none;
    border: 0px;
    width: 100%;
    list-style-type: none;
}

#famprof li{
    padding: 3px 20px;
}


#dayHeader{
    display: block;
    font-size: 2.2vw;
    text-align: center;
    color: #666666;
    margin-bottom: 20px;
}

@media all and (max-width: 1100px)  {
  #dayHeader {
    margin-right: 40px;
  }
}
@media all and (max-width: 900px)  {
  #dayHeader {
    margin-right: 60px;
  }
}

#entireFamilyMeals{
    display: block;
}

svg{
    margin: 20px;
}

.calendar{
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid gray;
    color: var(--main-text-color);

}

.calendar td{
    border: 1px solid gray;
}

#breakfast td:nth-child(odd)
{
    background: #FFFFFF;
}

#breakfast td:nth-child(even)
{
    background: #F0F0F0;
}#lunch td:nth-child(odd)
{
    background: #FFFFFF;
}

#lunch td:nth-child(even)
{
    background: #F0F0F0;
}

#dinner td:nth-child(odd)
{
    background: #FFFFFF;
}

#dinner td:nth-child(even)
{
    background: #F0F0F0;
}

.calendar-header > td{
    background-color: var(--secondary-bg-color);
}

#dates > td{
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-size: 1.6vw;
}

.calendar-header{
    font-size: 1.4vw;
    font-style: italic;
}

.fam{
    display: inline-block;
    width:30%;
    line-height: 250%;
    border-radius: 50%;
    margin: 0px 5px 5px;
}

#recipe-input{
    border: 1px solid gray;
    width: 550px;
    font-size: 16pt;
    padding: 10px;
}

#nutrition-display{
    position: absolute;
    left: 635px;
    top: 50px;
    border: 1px solid gray;
    width: 335px;
    font-size: 16pt;
    padding: 10px;
}

@media all and (max-width: 1100px)  {
  #nutrition-display {
    display: none;
  }
}

#recipe-input div{
    margin: 20px;
}

#recipe-input input[type="checkbox"]{
    margin: 5px;
}

#ingredients{
    margin: 5px;
    margin-left: 25px;
}

#ingredients th,td{
    padding: 5px;
}

#settings{
    margin: 5px;
    margin-left: 25px;
}

#settings th,td{
    padding: 4px;
}

#directions{
    padding-left: 30px;
}

.direction{
    width: 415px;
    vertical-align: top;
    margin: 5px 0px;
}

#add-ingredient, #add-direction, #add-meal{
    background: var(--accent-bg-color);
    color: var(--accent-text-color);
    border-radius: 10px;
    border:none;
}

#add-meal{
    font-size: 1.6vw;
    width: 6%;
}
#save-recipe, #cancel-recipe{
    font-size: 16pt;
    color: var(--accent-text-color);
    background: var(--accent-bg-color);
    border-radius: 10px;
    border:none;
    padding: 10px 30px;
    margin: 10px;
}

#go-back{
    font-size: 16pt;
    color: var(--accent-text-color);
    background: var(--accent-bg-color);
    border-radius: 10px;
    border:none;
    padding: 10px;
    width: 250px;
    margin: 10px;
}

#save-recipe-to-calendar
{
    color: var(--accent-text-color);
    background: var(--accent-bg-color);
    border-radius: 10px;
    border:none;
    padding: 10px;
}

#rec-book-header{
    font-size: 2.2vw;
}

#rec-book-footer button{
    background: var(--accent-bg-color);
    border-radius: 10px;
    border:none;
    padding: 10px;
    font-size: 1.8vw;
    margin: 0px 50px;
    width: 20%;
    color: var(--accent-text-color);
}


.in-amt{
    width: 80px;
}

.in-item{
    width: 240px;
}
.in-unit{
    height: 100%;
    width: 80px;
}
#nutr-header{
    text-align: center;
    font-size: 18pt;
}

#recipe-list li{
    font-size: 1.8vw;
    margin: 15px;
}

#profile-header-info{
    font-size: 20pt;
}

#profile-header-picture{
    float: left;
}

#cal-pie{
    text-align: center;
}

#profile-first-row{
    font-size: 1.6vw;
}
#Jimbob-calorie-source {
    float: left;
    text-align:center;
    margin: 20px;
    margin-right: 10px;
}  
#Jimbobpie {
    float:left;
    margin: 20px;
}
#JimbobWeekpie {
    float:left;
    margin: 20px;
}
#JimbobMonthpie {
    float:left;
    margin: 20px;
}

#calorie_table{
    float: left;
    margin: 20px;
}

#calorie_table th, #calorie_table  td{
    padding: 10px;
}

#profile-second-row{
    clear: all;
    margin: auto;
    font-size: 1.6vw;
    border-style: solid;
    border-bottom: double;
    border-top: double;
    border-right: none;
    border-left: none;
    width: 100%;
    height: 500px;
    overflow: hidden;
} 

#profile-third-row{
    font-size: 1.6vw;
    width: 100%;
}

#profile-top-stuff{
    float: left;
    margin-bottom: 35px;
    border-style: solid;
    border-bottom: double;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-bottom: 40px;
}

#profile-header-picture{
    width:33%;
    margin-right: 3%;
}
#profile-header-picture>img{
    width: 84%;
}

#profile-header-info h1{
    font-size: 2.2vw;
}

#profile-header-info h2{
    font-size: 1.8vw;
}

#profile-bottom-stuff{
    float: left;
    margin-left: 10px;
}

#day-title{
    text-align: left;
}

#day-title h1{
    font-size: 2.2vw;
}

#day-content
{
    text-align: left;
}
#day-content h2{
    font-size: 1.8vw;
}

#popupBoxOnePosition
{
    top: 0; left: 0; position: fixed; width: 100%; height: 120%;
    background-color: rgba(0,0,0,0.7); display: none;
}

#popupBoxTwoPosition
{
    top: 75px; left: 250px; position: fixed; width: 100%; height: 120%;
    background-color: rgba(0,0,0,0); display: none;
}

.popupBoxWrapper
{
    width: 550px; margin-left: 450px; margin-top: 300px; text-align: left;
    border-style: solid;
}

.popupBoxContent
{
    background-color: #FFF; 
    padding: 15px;
    font-size: 1.6vw;
}
.popupBoxContent h3{
    margin-left:10px;
    font-size: 1.8vw;
    font-weight: bold;
}

.popupBoxContent button{
    margin: 5px;
}

.popupBoxContent a{
    background-color: var(--accent-bg-color);
    color:var(--accent-text-color);
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}
.popupBoxContent a:hover{
    text-decoration: none;
}
table#calorie_table {
    font-size: 1.0vw;
    border-spacing:5px;
    /*float:right;*/
    display: inline;
    margin:5%;
    border: solid;
    border-color: gray;
    margin-left: 10px;
}
table#calorie_table td {
    padding-left: 15px;
    padding-right: 15px;
}
table#calorie_table tr:nth-child(even) {
    background-color: #eee;
}
table#calorie_table tr:nth-child(odd) {
    background-color: #fff;
}
table#calorie_table th {
    color: black;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

table#lipid_table {
    font-size: 1.6vw;
    border-spacing:5px;
    margin:5%;
    border: solid;
    border-color: gray;
    margin-top:20px;
}
table#lipid_table td {
    padding-left: 15px;
    padding-right: 15px;
}
table#lipid_table tr:nth-child(even) {
    background-color: #eee;
}
table#lipid_table tr:nth-child(odd) {
    background-color: #fff;
}
table#lipid_table th {
    color: black;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

table#protein_table {
    font-size: 1.6vw;
    border-spacing:5px;
    margin:5%;
    border: solid;
    border-color: gray;
    margin-top:20px;
}
table#protein_table td {
    padding-left: 15px;
    padding-right: 15px;
}
table#protein_table tr:nth-child(even) {
    background-color: #eee;
}
table#protein_table tr:nth-child(odd) {
    background-color: #fff;
}
table#protein_table th {
    color: black;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.caret {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid;
}

.mealEntryWords {
    float: right;
}

.mealEntryWords h3{
    font-size: 2vw;
}

.mealEntryWords h4{
    font-size: 1.2vw;
}

.mealEntryLogo {
    display: inline-block;
    width: 5vw;
    line-height: 150%;
    border-radius: 50%;
    font-size: 3.2vw;
    text-align: center;
    margin: 30px;
}

#settings-top{
    font-size: 25pt;
    text-align: center;
}
#settings-table{
    margin: auto;
}
#settings-header{
    font-size: 16pt;
    color: DimGray;
}
#settings-header-2{
    font-size: 14pt;
}
#settings td{
    border-right: solid 1px #F0F0F0; 
}
#currentMembers, #newMembers{
    font-size: 18pt;
}
#tinyLogo {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 12pt;
    text-align: center;
    margin-right: 5px;
}
#add-member{
    background: linear-gradient(#d8eff3,#addce6);
    border-radius: 10px;
    border:none;
}

.in-name{
    width: 140px;
}
.in-age, .in-height, .in-weight{
    width: 40px;
}
.in-gender{
    width: 100px;
}
.in-activity{
    width: 100px;
}
.in-goalcheck{
    
}
.in-goalgrad{
    width: 100px;
}
.in-goaltype{
    width: 100px;
}

#rec-book-footer {
    text-align: center;
}
#recipe-buttons{
    text-align: center;
}

#recipe-buttons button{
    margin: 10px;
    font-size: 16pt;
    padding: 10px 30px;
    background: var(--accent-bg-color);
    color: var(--accent-text-color);
    border-radius: 10px;
    border:none;
}

.del-button{
    border: none;
    background: none;
    color: #aaa;
}

li .del-button{
    margin-top: 20px;
    margin-left:10px;
}

#left-days, #right-days{
    background: none;
    color: #aaa;
    border: none;
}

#days-wrapper{
    font-size: 2.2vw;
    text-align: center;
    margin: 10px;
}

#days{
    display: inline-block;
    width: 400px;
}

.meal{
    font-size: 1.0vw;
}

#breakfast0, #breakfast1, #breakfast2, #breakfast3, #breakfast4, #breakfast5, #breakfast6,
#lunch0, #lunch1, #lunch2, #lunch3, #lunch4, #lunch5, #lunch6,
#dinner0, #dinner1, #dinner2, #dinner3, #dinner4, #dinner5, #dinner6
{
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: bottom;
    text-align: right;
    width: 18%;
    height: 18%

    display: block;
    margin: auto;

    z-index: 100;
}